<div class="row">
	<div class="span12 main-row-padding">
		<div class="span visible-desktop">
			<div class="download-passport main-image-margin visible-desktop"></div>
		</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold">PASSPORT AND <span class="highlight">VISA</span> F.A.Q.S</h1>
				<h2 class="light-bold">Questions about Passport &amp; Visa Services </h2>
				<h3>Here are some frequently asked questions we have answered about passports and visas. These answers cover topics for passports, visas, application processes, and regulations. </h3>
				<h2></h2>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row line-break">
		<div class="span12">
			<div class="border-main"></div>
		</div>
	</div>	 -->
<div class="span11 second-row-padding">


	
	<div class="span15 questions-border">
		<ul id="questions">
			<li>
				<span class="the_question">What is a Passport?</span>
				<span class="the_answer">A Passport is an identification document issued by a country’s government that proves citizenship and allows a citizen to travel in and out of countries worldwide. A Passport is required to leave the United States via air transportation. While many countries in the world allow free travel with a basic passport, several countries do require a travel visa, for approval to enter that particular country. Please see our list of countries to determine if the country you plan to visit requires a travel visa. In order to receive a US Passport, you must apply for one with the US Department of State, which traditionally is a 4-8 week process. The Passport &amp; Visa Company offers the most efficient way to get your Passport expedited and in your possession as quickly as possible, in as little time as a week. Our simple process of compiling your documents, ensuring their completion accuracy and filing with the Passport Bureau will not only alleviate the stress of this document application, but will ensure you receive your documents faster than any other method.</span>
			</li>
			<li>
				<span class="the_question">How long is a Passport valid for?</span>
				<span class="the_answer">In general, for United States Passports, applicants age sixteen (16) and older at time of application are issued Passports valid for ten (10) years. Applicants age fifteen (15) and younger at time of application are issued Passports valid for five (5) years. Typically there may be some exceptions that include: A second Passport which may be valid for two (2) years. An emergency Passport which may be valid for one (1) year. Lost Passports may be issued with less validity than usual (typically one (1) or two (2) years).</span>
			</li>
			<li>
				<span class="the_question">Why is a Passport Necessary?</span>
				<span class="the_answer">A Passport is required for any traveler wishing to travel outside the United States or its territories, or if you wish to travel across any between any other country’s borders. The only exception to this is travel between the United States and North American countries (Canada, Mexico, Caribbean and Bermuda), in such cases a Passport Card may be used instead. A Passport can also be used as a valid form of identification for travel within the United Stated (in lieu of a state drivers license).</span>
			</li>
			<li>
				<span class="the_question">How long will my Passport be valid for?</span>
				<span class="the_answer">In general, for United States Passports, applicants age sixteen (16) and older at time of application are issued Passports valid for ten (10) years. Applicants age fifteen (15) and younger at time of application are issued Passports valid for five (5) years. Typically there may be some exceptions that include: A second Passport which may be valid for two (2) years. An emergency Passport which may be valid for one (1) year. Lost Passports may be issued with less validity than usual (typically one (1) or two (2) years).</span>
			</li>
			<li>
				<span class="the_question">Why would my Passport application be rejected?</span>
				<span class="the_answer">The United States Passport Agency holds the ability to deny a passport application for a number of reasons. The most common reason for denial however, is failure to properly provide the required documents. The Passport &amp; Visa Company has an expertise for knowing exactly what the US Passport Agency requires, so we work with you through the application process to ensure your experience is seamless an error free. However, there are some circumstances that The Passport &amp; Visa Company will be unable to assist with processing your travel documents. For example, having outstanding child support, outstanding felonies/criminal warrants (not including civil infractions of parking violations), or a prior felony conviction that prohibits international travel.</span>
			</li>
			<li>
				<span class="the_question">Where can I find out my nearest Passport acceptance facility?</span>
				<span class="the_answer">Visit <a href="http://iafdb.travel.state.gov/">http://iafdb.travel.state.gov/</a> to find the closest acceptance facility</span>
			</li>
			<li>
				<span class="the_question">Why must I appear in person at the Passport Acceptance Facility?</span>
				<span class="the_answer">If you are a first time Passport applicant, or you have lost your Passport, you must appear in person at a Passport Acceptance Facility so an acceptance agent can verify your identity. If confirmed, the acceptance agent will seal your documents, which you then will be able to send to The Passport &amp; Visa Company for your expedited Passport processing. If you are processing a Passport renewal, you DO NOT have to go to an acceptance agency before sending your documents to The Passport &amp; Visa Company.</span>
			</li>
			<li>
				<span class="the_question">What if my name has changed since my Passport was issued?</span>
				<span class="the_answer">If your Passport was issued less than one (1) year ago, you may apply for a name change using the form DS-5504 on the US Department of State website. For Passports issued over one (1) year from issuance, you will need to apply for a Passport renewal, including all the necessary legal documents such as the original marriage certificate or name change document, in addition to the standard Passport renewal documents.</span>
			</li>
			<li>
				<span class="the_question">Why would a traveler need a second passport?</span>
				<span class="the_answer">Due to the nature of having to apply for visas to enter certain countries, and the often lengthy period of time in which a traveler must forfeit possession of their Passport for visa applications, applying for a second Passport is a simple way to ease the travel planning. For travelers who frequent many countries in a given period, or for travelers who may be abroad and need to fly to another country in which a visa is necessary, having a second Passport, will allow one to remain on the job in a foreign country, while getting your visa processed in the US and then mailed to you. A second Passport may also be necessary if you have entrance stamps to Israel and need to travel to countries that forbid travelers with evidence of travel into Israel.</span>
			</li>
			<li>
				<span class="the_question">Does my old Passport get returned when I apply for a new one?</span>
				<span class="the_answer">Typically the answer is yes. However, the Department of State may deem to not return it. If you documents have been damaged, there is a higher likelihood that they will not be returned.</span>
			</li>
			<li>
				<span class="the_question">If I’ve already submitted my Passport application through another means (ie. Post Office), will The Passport &amp; Visa Company be able to help me expedite them?</span>
				<span class="the_answer">Unfortunately at this point in time, our relationship with the Passport Bureau only permits us to pickup documents that we have submitted.</span>
			</li>
			<li>
				<span class="the_question">What if my child is too young to sign his or her name?</span>
				<span class="the_answer">If you are submitting your child’s application, sign your name and print the child’s name.</span>
			</li>
			<li>
				<span class="the_question">Why do I have to enclose a separate fee for the State Department?</span>
				<span class="the_answer">Anyone who submits documents to the Passport Bureau must pay the Department of State fee. This fee must be paid directly to the Department of State, which is why a check or money order in their name is required. Since The Passport &amp; Visa Company is a separate entity, we process our own service fees through our online checkout.</span>
			</li>
			<li>
				<span class="the_question">Why does the Department of State have a different fee than what is listed on your Website?</span>
				<span class="the_answer">The Department of State’s basic fee for an adult Passport application is $110. However, with the associated expediting fees, the cost for an expedited adult passport is $170.</span>
			</li>
			
			
		</ul>
	</div>
	<div class="span15 questions-border">
		<ul id="questions">
	
			<li>
				<span class="the_question">What is the Letter of Authorization (LOA)?</span>
				<span class="the_answer">In order for The Passport &amp; Visa Company to apply for a Passport on your behalf, you must provide us with an LOA. To ensure that the document contains all necessary information, please use the template that we provide you with in the application materials.</span>
			</li>
			<li>
				<span class="the_question">If I’ve lost my birth certificate, can I still apply for a Passport?</span>
				<span class="the_answer">An official birth certificate is required for a Passport application. If you have lost your original birth certificate, since birth certificates are held under state jurisdiction, to obtain a reissue of an official birth certificate, you must request the record from your state of birth. There are services that help expedite this process. For instance vitalcheck.com is a very good tool for assisting with birth certificate requests, no matter what state you were born in.</span>
			</li>
			<li>
				<span class="the_question">Can I fax The Passport &amp; Visa Company my application documents to further expedite?</span>
				<span class="the_answer">The original application documents from the US State department require a “wet” signature to be submitted. Unfortunately, the Passport Bureau will not accept faxed or photocopied document pages- they must be the original copies. However, for certain other documents, or errors, our team of professionals will work with you to ensure the most expedient proper collection of documents is achieved to minimize the chances of your application being rejected.</span>
			</li>
			<li>
				<span class="the_question">What are the benefits of having an account with Thepassportandvisacompany.com?</span>
				<span class="the_answer">Our brief and secure registration allows you to view the progress of applications online, to easily apply for more than one visa at a time, and to store an applicant profile for future visas. If you choose not to register, you can still follow the progress of your application with email updates from Thepassportandvisacompany.com.</span>
			</li>
			<li>
				<span class="the_question">Does The Passport &amp; Visa Company guarantee that I will receive my Passport or Visa by a specific date?</span>
				<span class="the_answer">The Passport &amp; Visa Company will make every effort to deliver your documents in time for your trip. Our processing times are calculated under normal circumstances and while we are committed to your satisfaction, we cannot always guarantee that your documents will be returned to you on a certain date. This is because often there are components to the document application process that are out of our control. We are committed to making every extra effort to get your documents processed timely and ensuring you are kept updated on the status of your documents throughout the process.</span>
			</li>
			<li>
				<span class="the_question">How do you ensure my visa application?</span>
				<span class="the_answer">The Passport &amp; Visa Company has relationships and expedited processing rights with most all high traffic Embassies and Consulates. Our professionalism and relationships with each of these entities allows us to quickly process your visa documents.</span>
			</li>
			<li>
				<span class="the_question">Do I have to provide my Passport with my Visa Application?</span>
				<span class="the_answer">Yes. Since most visas are issued as inserts to your passport document, your Passport needs to be included as part of your visa application package. Also, remember that you must have enough completely empty side-by-side pages in your Passport to avoid having your visa rejected. If you’re running short on pages in your passport, remember to either request additional pages with the passport agency, or if to travel internationally often you may want to consider applying for a second Passport.</span>
			</li>
			<li>
				<span class="the_question">I am ordering Passports for two or more people. Can I send The Passport &amp; Visa Company all the required documents in one package?</span>
				<span class="the_answer">Yes. In fact this is encouraged, not only does it make it easier for you, it makes it easier for us! Especially if you’re a business needing to process several documents at once, please do send everything to us at once, however, we understand the difficulties in organizing a large group trip, so we do ask if you have completed documents, please forward them to us as you wait for the rest so we may put the documents in the processing pipeline as soon as possible.</span>
			</li>
			<li>
				<span class="the_question">How is processing time calculated?</span>
				<span class="the_answer">Although we have strong relationships with the Passport processing centers and the foreign embassies and consulates, our estimated return times are estimates based on normal circumstances. Our processing time begins the next business day after The Passport &amp; Visa Company receives your documents at our office.</span>
			</li>
			<li>
				<span class="the_question">What is a Passport Card?</span>
				<span class="the_answer">A passport card is a credit card sized document for use within North American (Canada, Mexico, Caribbean, Bermuda, etc.) for entry by land or port. It’s primary purpose is to expedite entry for certain workers (I.e.. truckers) who regularly cross land borders (Ex. Canada to US). A Passport card is NOT valid for any international air travel. The Passport &amp; Visa Company does not recommend a Passport Card due to it’s limited functionality for travel; however, we can assist you if you call us.</span>
			</li>
			<li>
				<span class="the_question">How is The Passport &amp; Visa Company different than having my Passport Processed at the Post Office?</span>
				<span class="the_answer">Passports are processed at Federal Passport Bureau processing centers that are limited to certain areas in the United States. The Passport Bureau only entrusts certain entities to submit Passport applications to them. The Passport &amp; Visa Company, like the Post Office, is certified by the Passport Bureau to accept and submit Passports on our customers’ behalf. However, unlike the Post Office (which can take up to 4-8 weeks to get your documents), The Passport &amp; Visa Company is able to retrieve your documents in a guaranteed time windows, providing our customers a level of service our competitors aren’t able to touch.</span>
			</li>
			<li>
				<span class="the_question">What does The Passport &amp; Visa Company offer my company?</span>
				<span class="the_answer">The Passport &amp; Visa Company is committed to providing the highest level of service and satisfaction to your business. Our professional staff will ensure the timely and efficient processing of your documents no matter how large or small your group may be.</span>
			</li>	
			<li>
				<span class="the_question">What if I need to apply for visas at two different countries at once?</span>
				<span class="the_answer">This is a perfect reason why someone would have a second Passport. If this is your situation, please contact our staff and we will be happy to assist you by expediting a second Passport and submitting it with your visa documents.</span>
			</li>
		</ul>
	</div>
</div>	

