<div class="row">
	<div class="span12  main-row-padding">
		<div class="span visible-desktop">
			<div class="global-entry-kiosk main-image-margin"></div>
		</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold">GLOBAL ENTRY PROGRAM</h1>
				<h2 class="light-bold">Skip airport lines with the Global Entry Kiosk </h2>
				<h3>No processing lines and no custom declaration form. For international travelers only.  Available to U.S. citizens and permanent resident card holders. </h3>
			</div>
		</div>		
	</div>
</div>

<div class="span12 second-row-padding">
	<div class="span11">
		<h2 class="widest-border bottom-margin">
			<span class="wide-padding">Global Entry Application Process and Benefits</span>
		</h2>
	</div>
	<div class="span11">
			<div class="row">
				<div class="span6">
						<h3>Pre-Approval Application &amp; In-Person Interview	</h3>	
							<p class="global-entry-list"><b>A non-refundable fee of $100 per applicant. Membership is valid for five years.</b>
								<ol>1.)	Apply on-line at <a href="http://www.globalentry.gov" target="_blank">www.globalentry.gov</a>. Once your application has been reviewed, you will be asked to schedule an in-person interview at one of the Global Entry Enrollment Centers. At that interview a (CBP) officer will determine your eligibility, take your photo, and collect biometric information (e.g. fingerprints).</ol>
								<ol>2.)	Provide a valid passport and one other form of identification such as a driver’s license or ID card.  If you are a permanent resident of the U.S. you must provide your permanent resident card.</ol>
								<ol>3.)	Contact a TPAVC agent today with any questions or assistance.</ol>
							</p>
						<h3> Fast Processing	</h3>
							<p class="global-entry-list">At airports, program participants proceed to Global Entry kiosks, present their machine-readable passport or U.S. permanent resident card, place their fingertips on the scanner for fingerprint verification, and make a customs declaration. The kiosk issues the traveler a transaction receipt and directs the traveler to baggage claim and the exit.</p>
						<h3>  Expedited Travel	</h3>
							<p class="global-entry-list">Travelers must be pre-approved for the Global Entry program. All applicants undergo a rigorous background check and interview before enrollment.
						While Global Entry's goal is to speed travelers through the process, members may be selected for further examination when entering the United States. Any violation of the program's terms and conditions will result in appropriate enforcement </p>
						
				</div>	

				<div class="span5">
					<div class="row">
						<div class="span2"><%= link_to "", asset_path("Global-Entry-Application-Instructions.pdf"), :class => "download-icon", :target => "_blank" %></div>
						<div class="span3"><h3 class="t-align-top">Download instructions for the Global Entry Program application.  </h3></div>
					</div>
					<div class="row third-row-padding">
						<div class="span4">
							<p><%= link_to "Get Help for Global Entry", contact_path, :title => "Contact", :class => "double-wide-button" %></p>	
							<p><%= link_to "Chat Live with an Agent", contact_path, :title => "Contact", :class => "double-wide-button" %></p>
							<p><%= link_to "Download More Information", asset_path("Global-Entry-Program.zip"), :class => "double-wide-button" %></p>
						</div>	
					</div>
				</div>
			</div>		
	</div>

</div>

<div class="span12 second-row-padding">
	<div class="span11">
		<h2 class="widest-border bottom-margin">
			<span class="wide-padding">Participating Airports for the Global Entry Program</span>
		</h2>
	</div>
	<div class="span11">

				<div class="span5">
				<div class="span5 fourth-row-padding">
					<h5>	
						<li class="global-entry-airports">Austin-Bergstrom International Airport (ABI)</li>
						<li class="global-entry-airports">Baltimore/Washington International Thurgood Marshall Airport (BWI)</li>
						<li class="global-entry-airports">Boston-Logan International Airport (BOS)</li>
						<li class="global-entry-airports">Calgary International Airport (YYC)</li>
						<li class="global-entry-airports">Charlotte-Douglas International Airport (CLT)</li>
						<li class="global-entry-airports">Chicago O'Hare International Airport (ORD)</li>
						<li class="global-entry-airports">Dallas/Ft. Worth International Airport (DFW)</li>
						<li class="global-entry-airports">Denver International Airport (DEN)</li>
						<li class="global-entry-airports">Detroit Metropolitan Airport (DTW)</li>
						<li class="global-entry-airports">Dublin Airport (DUB)*</li>
						<li class="global-entry-airports">Edmonton International Airport (YEG)</li>
						<li class="global-entry-airports">Ft. Lauderdale/Hollywood International Airport (FLL)</li>
						<li class="global-entry-airports">George Bush Intercontinental Airport, Houston (IAH)</li>
						<li class="global-entry-airports">Guam International Airport (GUM)*</li>
						<li class="global-entry-airports">Halifax Stanfield International Airport (YHZ)</li>
						<li class="global-entry-airports">Hartsfield-Jackson Atlanta International Airport (ATL)</li>
						<li class="global-entry-airports">Honolulu International Airport (HNL)</li>
						<li class="global-entry-airports">John F. Kennedy International Airport, New York (JFK)</li>
						<li class="global-entry-airports">John Wayne Airport (SNA)*</li>
						<li class="global-entry-airports">Los Angeles International Airport (LAX)</li>
						<li class="global-entry-airports">McCarran International Airport, Las Vegas (LAS)</li>
						<li class="global-entry-airports">Miami International Airport (MIA)</li>
						<li class="global-entry-airports">Minneapolis/St. Paul International Airport (MSP)</li>
					</h5>	
				</div>
			</div>		
			<div class="span5">
				<div class="span5 fourth-row-padding">	
					<h5>						
						<li class="global-entry-airports">Montreal Pierre Elliott Trudeau International Airport (YUL)</li>
						<li class="global-entry-airports">Newark Liberty International Airport (EWR)</li>
						<li class="global-entry-airports">Orlando International Airport (MCO)</li>
						<li class="global-entry-airports">Orlando-Sanford International Airport (SFB)</li>
						<li class="global-entry-airports">Ottawa Macdonald-Cartier International Airport (YOW)</li>
						<li class="global-entry-airports">Philadelphia International Airport (PHL)</li>
						<li class="global-entry-airports">Phoenix Sky Harbor International Airport (PHX)</li>
						<li class="global-entry-airports">Portland International Airport (PDX)</li>
						<li class="global-entry-airports">Raleigh-Durham International Airport (RDU)*</li>
						<li class="global-entry-airports">Saipan International Airport (SPN)*</li>
						<li class="global-entry-airports">Salt Lake City International Airport (SLC)</li>
						<li class="global-entry-airports">San Antonio International Airport (SAT)</li>
						<li class="global-entry-airports">San Diego International Airport (SAN)*</li>
						<li class="global-entry-airports">San Francisco International Airport (SFO)</li>
						<li class="global-entry-airports">San Juan-Luis Muñoz Marin International Airport (SJU)</li>
						<li class="global-entry-airports">Seattle-Tacoma International Airport-SeaTac (SEA)</li>
						<li class="global-entry-airports">Shannon Airport (SNN)*</li>
						<li class="global-entry-airports">Tampa International Airport (TPA)</li>
						<li class="global-entry-airports">Toronto Pearson International Airport (YYZ)</li>
						<li class="global-entry-airports">Vancouver International Airport (YVR)</li>
						<li class="global-entry-airports">Washington-Dulles International Airport (IAD)</li>
						<li class="global-entry-airports">Winnipeg James Armstrong Richardson International Airport (YWG)</li>
					</h5>	
				</div>	
			</div>	

	</div>

</div>

		



