<div class="row">
	<div class="span12  main-row-padding">
		<div class="span visible-desktop">
			<div class="solutions-corporate main-image-margin"></div>
		</div>
		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold">CORPORATE SOLUTIONS</h1>
				<h2 class="light-bold">Customized Passport and Visa Programs</h2>
				<h3>We offer customized programs to meet your business needs. </h3>
			</div>
		</div>		
	</div>
</div>


	<div class="span12 second-row-padding">
		
		<div class="span11">
			<h2 class="widest-border bottom-margin">
			<span class="wide-padding">Join Our List of Growing Clients......</span>
		</h2>
				<%= image_tag("our-clients.png") %>
		</div>	
	</div>



<div class="span12 second-row-padding">
	<div class="span11">
		<h2 class="widest-border bottom-margin">
			<span class="wide-padding">Customized Corporate Solutions: Account Management Services</span>
		</h2>

		<div class="row">
			<div class="span6 third-row-padding">
					<h6>	
						<li class="solutions-list">Significant volume discount and unlimited consultation for Global Entry Program Services (GOES)</li>
						<li class="solutions-list">Specialized &amp; experienced assigned account Agent and Unlimited consultation &amp; information services for Travel Visas &amp; Passports</li>
						<li class="solutions-list">Conceirge Services and Available 7 Days a Week &amp; after business hours</li>
						<li class="solutions-list">Highest industry standard for Application Acceptance Rate - 98.7% + Fast, easy &amp; secure turn-around of travel documents in as little as 24 hours</li>
						<li class="solutions-list">Educational seminars for international travelers with "Know Before You Go"   </li>
					</h6>	
			</div>	
		

			<div class="span4">
				<div class="span4 third-row-padding">	
					<p><%= link_to "Get a Quote for Solutions", contact_path, :title => "Contact", :class => "double-wide-button" %></p>	
					<p><%= link_to "Chat Live with an Agent", contact_path, :title => "Contact", :class => "double-wide-button" %></p>
					<p><%= link_to "Download More Information", asset_path(""), :class => "double-wide-button", :target => "_blank" %></p>
				</div>	
			</div>
		</div>
	</div>
</div>



		

