<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Visa Company</title>
  </head>
  <body>
    <h1>Thank you, <%= @form.name %></h1>
    <p>
      Your message was sent with success.
    </p>
    <p>Wait to hear back from us!</p>
  </body>
</html>