<div class="row">
	<div class="span12 main-row-padding">
		<div class="span">
			<div class="visa-stamp main-image-margin"></div> 
		</div>
		

		<div class="span8">
			<div class="span7 line-break">
				<h1 class="light-bold">EXPEDITED <span class="highlight">VISA</span> APPLICATIONS</h1>
				<h2 class="light-bold">Work, Business, Official, Student, &amp; Tourist Visas </h2>
				<h3>To get country specific information, use the Visa Search below to get visa requirements. If you need immediate assitance you can send us an <%= link_to "email", contact_path, :title => "Send us an email", :class => "highlight" %> or chat live.</h3>
				<h2></h2>
			</div>
		</div>	
	</div>
</div>

<!-- <div class="row line-break">
		<div class="span12">
			<div class="border-main"></div>
		</div>
</div>	 -->

<div class="row second-row-padding">
	<div class="span6">
		<div class="span6">
			<div class="span5">
				
					<span>
						<h2 style="line-height:0px;" class="light-bold">
							<!-- <div class="visa-icon" style="margin-bottom:15px;"></div> -->
							<span style="line-height:40px;margin-top:20px;" >Travel <span class="highlight">Visas</span> to Any Country </span>
						</h2>
					</span>
			
			</div>	
			<div class="span3">
				
				<%= render :partial => "layouts/search_form" %>
			</div>
			<div class="span2">
				<div class="span2">
					<h5 style="margin-top:35px;"><i>To get immediate help or assistance with visa information please chat live with an agent...</i></h5>
					<!-- <h5 style="background-color:#1B325E; color:#fff; padding:10px 10px; width:95%;border-radius:4px;">For visa requirements and application click on the country of destination.</h5> -->
					<div class="live-chat" style="margin:30px 0px 50px 0px;"></div>
					
					
				</div>
			</div>
		</div>
		</div>
	<div class="span6">	

		<div class="span6">	
			<div class="span5">
					<div class="span5">
							
								<span>
									<h2 style="line-height:0px;" class="light-bold">
										<!-- <div class="visa-icon" style="margin-bottom:15px;"></div> -->
										<span style="line-height:40px;margin-top:20px;" >Most Requested <span class="highlight">Visas</span></span>
									</h2>
								</span>
						
					</div>	
					<div class="span18 line-break">
							<div class="brazil"></div>
							<h4>Brazil Visas</h4>
							<div class="china"></div>
							<h4>China Visas</h4>
					</div>	
					<div class="span18 line-break">
							<div class="india"></div>
							<h4>India Visas</h4>
							<div class="russia"></div>
							<h4>Russian Visas</h4>
					</div>	
					<div class="span18 line-break">
							<div class="saudi"></div>
							<h4>Saudi Visas</h4>
							<div class="nigeria"></div>
							<h4>Nigeria Visas</h4>
							
					</div>	
			</div>
		</div>	
	</div>	
</div>



